/*
VARS
*/
:root{
  --font-size     : 0.875rem;
  --color-truce   : #FFF;
  --color-body    : #2980b9;
  --color-link    : #2980b9;
  --bg-note       : #FFF;
  --color-abyss   : #000;
  --border-radius : 5px;
  --transition    : all 0.3s ease-in-out;
  --cookie-shadow : 0 0px 30px 0px rgba(0,0,0,0.3);
}

/*
CSS file
*/
body{
  background-color: var(--color-body);
  font-family: sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}
img{
  max-width: 100%;
}
p{
  font-size: var(--font-size);
  line-height: 1.5;
  margin: 0;
}
a{
  color: var(--color-body);
  text-decoration: none;
  font-size: var(--font-size);
}
.ghost,
.hidden{
  opacity: 0;
  z-index: 0!important;
  visibility: hidden;
  display: none!important;
}
.text-center{
  text-align: center;
}

header{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  color: var(--color-truce);
  text-align: center;
}
header span{
  font-size: 1rem;
  opacity: 0.3;
}
.cookie--close span.lnr{
  font-size: 1.5rem;
}

/*
 Buttons and links
*/
.link{
  color: var(--color-truce);
  padding: 0 5px;
}
.btn{
  display: inline-block;
  font-size: var(--font-size);
  padding: var(--font-size) calc(var(--font-size)/2);
  margin: var(--font-size) 0;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.btn--agree{
  background: var(--color-link);
  color: var(--color-truce);
}
.btn--agree:hover{
  border-color: var(--color-link);
  background: var(--color-truce);;
  color: var(--color-link);
}
.btn--disagree{
  background: #949494;
  color: var(--color-truce);;
}
.btn--disagree:hover{
  border-color: #949494;
  background: var(--color-truce);
  color: #949494;
}
.btn--show{
  background: var(--color-truce);
  color: var(--color-body);
}
.btn--show:hover{
  background-color: var(--color-body);
  border-color: var(--color-truce);
  color: var(--color-truce);
}
/*
 GENERAL
*/
.cookie{
  transition: 0.3s ease-out;
  z-index: 9;
  position: absolute;
}
.cookie--close{
  cursor: pointer;
}

/*
 The cookie monster
*/

.monster{
  width: calc(20vw - 3rem);
  min-width: 250px;
  padding: 1.5rem 1.5rem 0;
  border-radius: var(--border-radius);
  box-shadow: var(--cookie-shadow);
  background-color: var(--color-truce);
  animation-name: bounceInUp;
}
.monster .cookie--close{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.monster .cookie--img img{
  float: left;
}

/*
 Default note on top of website
*/
.note{
  text-align: left;
  background-color: var(--bg-note);
  padding: 1.5rem;
  display: flex;
  box-shadow: var(--cookie-shadow);
}

.note .cookie--img{
  width: 3%;
  margin: 0 1%;
  max-width: 40px;
  max-height: 40px;
}
.note .cookie--close{
  width: 5%;
}
.note .cookie--img,
.note .cookie--close{
  display: flex;
  justify-content: center;
}
.note .cookie--close a{
  align-self: center;
}
.note .cookie--text{
  float: left;
  width: 90%;
}

/*
 NOTIFICATION COOKIE
*/
.notification{
  max-width: 65rem; /* This should be the same number as the max-width of the grid you're using. */
  text-align: left;
  background-color: #FFF;
  margin: 0 auto;
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  box-shadow: var(--cookie-shadow);
}
.notification .cookie--text{
  padding: 1rem;
}

.notification .cookie--close{
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-left: 1px solid rgba(0,0,0,0.2);
  background: transparent;
  min-width: 6em; /* the width of the text and the icon  */
}
.notification .cookie--close span.lnr{
  font-size: 1rem;
}
.notification .cookie--close a{
  align-self: center;
}

/*
 TRIANGLE COOKIE
*/
.triangle{
  width: 205px; /* breedte driehoek (160px) + padding (25px)  */
  text-align: center;
}
.triangle::after{
  content: '';
  border: 160px solid #FFF;
  position: absolute;
  z-index: -1;
}

.triangle .cookie--text{
  padding: 35px 25px;
}
.triangle .cookie--close{
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
}

/*
 POSITION OF THE NOTE
*/
.monster.left{ left: 1rem; }
.monster.right{ right: 1rem; }
.monster.bottom{ bottom: 1rem; }
.monster.top{ top: 1rem; }

.triangle.top::after{ top: 0; }
.triangle.bottom::after{ bottom: 0; }
.triangle.bottom.left::after{
  border-bottom-color: #FFF;
  border-top-color: transparent;
  border-right-color: transparent;
}
.triangle.left{ left: 0; }
.triangle.left::after{
  border-bottom-color: transparent;
  border-right-color: transparent;
  left: 0;
}
.triangle.right{ right: 0; }
.triangle.right::after{
  border-bottom-color: transparent;
  border-left-color: transparent;
  right: 0;
}
.triangle.bottom.right::after{
  border-bottom-color: #FFF;
  border-top-color: transparent;
  border-left-color: transparent;
}

.bottom{ bottom: 0; }
.top{ top: 0; }
.left{ left: 0; }
.right{ right: 0; }
